/*header section*/
.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .hero_area .hero_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: hidden;
    z-index: -1;
  }
  
  .hero_area .hero_bg_box .bg_img_box {
    min-width: 100%;
    min-height: 100%;
  }
  
  .hero_area .hero_bg_box img {
    min-width: 100%;
    min-height: 100%;
  }
  
  .sub_page .hero_area {
    min-height: auto;
    background: linear-gradient(130deg, #231a6f, #0f054c);
  }
  
  .sub_page .hero_area .hero_bg_box {
    display: none;
  }
  
  .header_section {
    padding: 15px 0;
    background-color: #0c0485;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .navbar-brand span {
    font-weight: bold;
    font-size: 24px;
    color: #eeeef3;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    margin-left: auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #f7f7f9;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #00bbf0;
  }
  
  .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    font-weight: 600;
  }
  
  .custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #f8f7fb;
  }
  
  .custom_nav-container .nav_search-btn:hover {
    color: #00bbf0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }





/* body {
    font-family: Arial, sans-serif;
} */

.ok {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
}

.bo {
    text-align: center;
}

table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
    overflow: hidden; /* Masque le contenu qui déborde du tableau */
}

th, td {
    border: 3px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Empêche le texte de se replier à l'intérieur des cellules */
}

th {
    background-color: #f2f2f2;
}

/* Alternance de couleur pour les lignes du tableau */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style pour la première ligne (en-tête) */
tr:first-child {
    background-color: #e0e0e0;
}

/* Style pour les cellules vides */
td:empty {
    background-color: #fff; /* Couleur de fond pour les cellules vides */
}



 /* footer section*/
 .footer_section {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #b1ae7c;
    text-align: center;
    padding: 25px 0;
    margin-top: 10%;
  }
  
  .footer_section p {
    color: #00204a;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section p a {
    color: inherit;
  }