<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="" />
    <title>e-Transfer</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{../assets/css/style.css}" />
   <!--  <link rel="stylesheet" href="assets/css/style.css"> -->
</head>

<body>
    <div class="cont">
        <div class="navigation">
            <ul>
                <li>
                    <a th:href="@{#}">
                        <span class="icon">
                            <ion-icon name="logo-apple"></ion-icon>
                        </span>
                        <span class="title">e-Transfer</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/dashboard}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title"><button type="button" class="btn" data-toggle="modal" data-target="#warningModal">Transférer
                        </button></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title"><button type="button" class="btn" data-toggle="modal" data-target="#warningModal">Paiement/Réception
                        </button></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mes-transactions}">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Transactions</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Accueil</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/monnaies}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Nos monnaies</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/reviews}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Appréciations</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/contact}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Contact</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title"><button type="button" class="btn" data-toggle="modal" data-target="#warningModal">Ma devise
                        </button></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title"><button type="button" class="btn" data-toggle="modal" data-target="#warningModal">Profil
                        </button></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title"><button type="button" class="btn" data-toggle="modal" data-target="#warningModal">Sign Out
                        </button></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="detailsTransactions">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Mes Transactions</h2>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Email du Destinataire/Expéditeur</td>
                                <td>Montant transféré</td>
                                <td>Devise de Destination/Expédition</td>
                                <td>Date</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="transaction : ${AllTransactions}">
                                <td th:text="${transaction.userEmail}"></td>
                                <td th:text="${transaction.transactionAmount}"></td>
                                <td th:text="${transaction.transactionCurrency}"></td>
                                <td th:text="${transaction.transactionDateTime}"></td>
                                <td>
                                    <span th:class="${transaction.status == 'Destinataire' ? 'status delivered' : (transaction.status == 'Expéditeur' ? 'status pending' : '')}"><span th:text="${transaction.status}"></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Si vous souhaitez effectuer cette action, veuillez vous rendre sur la page Dashboard.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <a href="/dashboard" class="btn btn-primary">Aller au Dashboard</a>
                </div>
            </div>
        </div>
    </div>

    <script>
      
    </script>


    <script th:src="@{../assets/js/main.js}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>